.heading_1
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    
  }
  .heading_2
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    background-color: grey;
    color: white;
  }
  .heading_div
  {
    float: none;
    background: white ; 
    padding: 10px;
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .copy_right_footer
   {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
  }
ol{
  background-color: grey;
  border: white;
  border-radius: 20px;
  border-width: 60px !important;

}
.test_image_and_result1{
  font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    background-color: grey;
    color: white;
}
.test_image_and_result2{
  font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    background-color: rgb(218, 85, 33);
    color: white;
}
.test_image_and_result3{
  font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    background-color: rgb(189, 233, 168);
    color: white;
}
h5{
  font-size: 18px ;
}
h4{
  font-size: 18px ;
}